body{
    background-color:rgb(0, 213, 255);
}
.text-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c5e1e5;
    padding: 5px;
    border: 2px solid #2161CC;
    border-radius: 5px;
    margin-bottom: 5px;
}